


<!--

  FREE

-->
<hr class="border-0 space">

{{{section-header "Trending Products" "Get 'em while they're hot!"}}}
<div class="card-deck py-3">
  {{{trending-products 3}}}
</div>
<div class="card-deck py-3">
  {{{trending-products 3}}}
</div>
<div class="card-deck py-3">
  {{{trending-products 3}}}
</div>

{{{section-header "These products are free this week only." "Exclusive Free Goods"}}}
<div class="card-deck py-3">
  {{{free-products 3}}}
</div>
<div class="card-deck py-3">
  {{{free-products 3}}}
</div>
<div class="card-deck py-3">
  {{{free-products 3}}}
</div>



</div>
