<hr class="pt-3">

<h3 class="py-3">
   {{product}}
  <small class="text-muted">by {{company}}</small>
</h3>


<div>
  {{{section-header "Bootstrap Color Set" "$4USD"}}}
</div>


<div>

</div>


<div class="card-columns py-3">

  {{#each colors}}


  <div class="card">
    <div class="card-body" style="height: 100px; color: {{{foreground}}}; background: {{{background}}};">
      {{background}} ({{foreground}})
    </div>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  {{/each}}

</div>
